<h3>Existing lists:</h3>
<% @lists.each do |list| %>
  <%= link_to 'X', list_path(list.id), class: 'pull-right btn btn-primary', method: :delete, data: { confirm: "Are you sure?" } %>
  <pre><%= list.body %></pre>
<% end %>
