---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rake.yaml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - da8c9679bef31e31cf3f36bc1180fa70
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      Status:
      - 200 OK
      Content-Disposition:
      - attachment
      Content-Transfer-Encoding:
      - binary
      Etag:
      - '"7938e0e26f2635557fc96156e363e7c7"'
    body:
      encoding: UTF-8
      string: |
        ---
        name: rake
        downloads: 48752182
        version: 10.3.2
        version_downloads: 284176
        platform: ruby
        authors: Eric Hodel, Jim Weirich
        info: ! "Rake is a Make-like program implemented in Ruby. Tasks and dependencies are\nspecified
          in standard Ruby syntax.\n\nRake has the following features:\n\n* Rakefiles (rake's
          version of Makefiles) are completely defined in\n  standard Ruby syntax.  No XML
          files to edit.  No quirky Makefile\n  syntax to worry about (is that a tab or a
          space?)\n\n* Users can specify tasks with prerequisites.\n\n* Rake supports rule
          patterns to synthesize implicit tasks.\n\n* Flexible FileLists that act like arrays
          but know about manipulating\n  file names and paths.\n\n* A library of prepackaged
          tasks to make building rakefiles easier. For example,\n  tasks for building tarballs
          and publishing to FTP or SSH sites.  (Formerly\n  tasks for building RDoc and Gems
          were included in rake but they're now\n  available in RDoc and RubyGems respectively.)\n\n*
          Supports parallel execution of tasks."
        licenses:
        - MIT
        project_uri: http://rubygems.org/gems/rake
        gem_uri: http://rubygems.org/gems/rake-10.3.2.gem
        homepage_uri: https://github.com/jimweirich/rake
        wiki_uri: ''
        documentation_uri: https://github.com/jimweirich/rake
        mailing_list_uri: ''
        source_code_uri: https://github.com/jimweirich/rake
        bug_tracker_uri: https://github.com/jimweirich/rake/issues
        dependencies:
          development:
          - name: hoe
            requirements: ~> 3.7
          - name: minitest
            requirements: ~> 5.2
          - name: rdoc
            requirements: ~> 4.0
          runtime: []
  recorded_at: Mon, 26 May 2014 21:18:02 GMT
recorded_with: VCR 2.5.0
