<div class='jumbotron'>
  <div class='container'>
    <h1>Gem Watcher</h1>
    <p>Give gem watcher a list of gems you'd like to monitor and we'll send you an email whenever one of them is updated.</p>
    <p>If you'd like you can point gem watcher to a file online. We'll extract your list from there and check that file for changes every minute.</p>
    <% if current_user %>
      <%= render 'lists/form' %>
      <%= render 'lists/existing' %>
    <% else %>
      <%= link_to 'Create an account to get started', new_user_registration_path, class: 'btn btn-success btn-lg' %><br/>
      <h4>Already have an account? <%= link_to 'Sign in', new_user_session_path %></h4>
    <% end %>
  </div>
</div>
