<div class='jumbotron'>
  <div class='container'>
    <h1>Gem Watcher</h1>
    <p>Give Gem Watcher a list of gems you'd like to monitor and we'll send you an email whenever one of them is updated.</p>
    <p>If you'd like you can point Gem Watcher to a file online and we'll extract and monitor your list from there.</p>
    <%= link_to 'Create an account to get started', new_user_registration_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
